@model Models.Paiement.PaiementVm

<form asp-action="index" asp-controller="Paiement">
    <div class="mb-3">
        <label for="nomprenom" class="form-label">Nom et Prenom</label>
        <input type="text" class="form-control" id="nomprenom" asp-for="Nom">
        
    </div>
    <div class="mb-3">
        <label for="code" class="form-label">Code</label>
        <input type="text" class="form-control" asp-for="NumCarte">
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Date d'exp</label>
        <input type="text" class="form-control" asp-for="DateExpMois">  /      
        <input type="text" class="form-control" asp-for="DateExpAnnee">        

    </div>
    <div class="mb-3">
        <label for="CVV" class="form-label">CVV</label>
        <input type="text" class="form-control" asp-for="Cvv">
    </div>


    <input type="submit" />
    

</form>




