<div class="row">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Electro Web</h5>
                <p>adresse: 49 rue Biranzarane, 2e étage, Casablanca</p>
                <p class="card-text">Si vous avez des questions ou besoin d'assistance, n'hésitez pas à chattez avec nous du Lundi au Dimanche ( 09H00 à 19H00)</p>
                <a asp-action="Formulaire" asp-controller="Contact" class="btn btn-primary">Contactez nous</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img class="img-thumbnail"  src="~/Logo.jpg" />
        </div>
    </div>
</div>