@model Models.Inscription.InscriptionVM



<form method="post" action="CreatioCompte">


<div class="mb-3">
    <label  class="form-label">Nom</label>
    <input class="form-control" type="text">
</div>



<div class="mb-3">
    <label class="form-label">Prenom</label>
    <input class="form-control" type="text">
</div>



<div class="mb-3">
    <label class="form-label">Telephone</label>
    <input class="form-control" type="tel">
</div>



<div class="mb-3">
    <label class="form-label">E-Mail</label>
    <input class="form-control" type="text">
</div>



<div class="mb-3">
    <label class="form-label">Adresse</label>
    <input class="form-control" type="text">
</div>



<div class="mb-3">
    <label class="form-label">Mot de Passe</label>
    <input class="form-control" type="password">
</div>

    <div class="mb-3">
        <label class="form-label">Confirmer Mot de Passe</label>
        <input class="form-control" type="password">
    </div>
    <button type="submit" class="btn">Submit</button>



</form>