@model Models.Inscription.InscriptionVM


<form method="post" action="">
    <div class="mb-3">
        <label  class="form-label">Adresse EMail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">A ne pas partager</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
    </div>
    <a asp-action="Recapitulatif" asp-controller="Commande" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Se connecter</a>
    <button type="submit" class="btn btn-primary">Crée mon compte</button>
    
</form>
