@model Models.Contact.FormulaireVM

<form class="row ">
    <div class="col-md-6">
        <label  class="form-label">Nom</label>
        <input type="text" class="form-control" >
    </div>
    <div class="col-md-6">
        <label  class="form-label">Prénom</label>
        <input type="text" class="form-control" >
    </div>
    <div class="col-12">
        <label  class="form-label">E-Mail</label>
        <input type="email" class="form-control">
    </div>
    <div class="col-12">
        <label  class="form-label">Adresse </label>
        <input type="text" class="form-control"  placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
        <label class="form-label">Ville</label>
        <input type="text" class="form-control" >
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Pays</label>
        <select id="inputState" class="form-select">
            
        </select>
    </div>
    <div class="col-md-2">
        <label  class="form-label">Code Postal</label>
        <input type="text" class="form-control" >
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
</form>
