

<div class="text-center">
    <h1 class="display-4">Catégorie Produit</h1>
</div>


<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Catégorie 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a asp-controller="Produit" asp-action="Liste" class="btn btn-primary">Liste ...</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Catégorie 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a asp-controller="Produit" asp-action="Liste" class="btn btn-primary">Liste ...</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Catégorie 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a asp-controller="Produit" asp-action="Liste" class="btn btn-primary">Liste ...</a>
    </div>
</div>