@* @model Models.Client.AdminCreateClientVM

<form asp-controller="Client" asp-action="Edit" method="post">
    <label for="nom">Nom</label>
    <input type="text" asp-for="Nom" />

    <label for="prenom">Prenom</label>
    <input type="text" asp-for="Prenom" />

    <label for="email">Email</label>
    <input type="email" asp-for="Email" />

    <label for="tel">Téléphone</label>
    <input type="text" asp-for="Tel" />

    <label for="mdp">Mot de passe</label>
    <input type="password" asp-for="MotPasse" />

    <button type="submit">Submit</button>

</form> *@