@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <div class="mb-3">
        <label for="nomprenom" class="form-label">Nom et Prenom</label>
        <input type="text" class="form-control" id="nomprenom" aria-describedby="emailHelp">
        
    </div>
    <div class="mb-3">
        <label for="code" class="form-label">Code</label>
        <input type="text" class="form-control" id="code">
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Date d'exp</label>
        <input type="text" class="form-control" id="date">
    </div>
    <div class="mb-3">
        <label for="CVV" class="form-label">CVV</label>
        <input type="text" class="form-control" id="CVV">
    </div>
    
    <a asp-controller="commande" asp-action="fincommande" class="btn btn-primary">Payer</a>
</form>