@model Models.Marque.MarqueAjouterVM

<form method="post" asp-action="create" asp-controller="">
    <label>Nom :</label><br />
    <input type="text" asp-for="Nom" /><br />
    <label>Image :</label><br />
    <input type="text" asp-for="NomImg" /><br />
    <button type="submit">Ajouter</button>
</form>