@*
    For more information on enabling
    MVC for empty projects, 
    visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    var a = 12;
    var b = 12;

    var resule = a + b;

}


@resule


<table>

    <tr>
        @* Champs des blog *@
        <td>Blog </td>
    </tr>
</table>

@* sfgsdfg
s
dg
sdf
g *@


@{
    resule = 23;

}


@resule

<p>

</p>