<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electro Web 1er plateforme de venter enligne au maroc 
        - @ViewData["Title"]</title>
    <meta property="og:description" content="@ViewData["Description"]" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteWeb.styles.css" asp-append-version="true" />
</head>
<body>



    <header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index">Electro Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  aria-current="page" href="~/Home">Home</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="~/Produit">Nos Produits</a>
                    </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/Service">Nos Services</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link " href="~/Blog">Blog</a>
                    </li>
                </ul>


                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small shadow" style="">
                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Profil">Mon Profil</a></li>
                            <li><a class="dropdown-item" asp-action="MesCommandes" asp-controller="Profil">Mes commandes</a></li>
                            <li><a class="dropdown-item" asp-action="MesPaiements" asp-controller="Profil">Mes Paiements</a></li>

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Déconnecter</a></li>
                        </ul>
                    </div>
            </div>

        </div>

    </nav>
   
    </header>

    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()

    </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
