@model List<Models.Blog.BlogListVM>
<div class="row mb-2">

    @foreach (var item in Model)
    {

        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">@item.Titre</strong>
                    <h3 class="mb-0">@item.Categorie</h3>
                    <div class="mb-1 text-body-secondary">@item.Date</div>
                    <p class="card-text mb-auto">@item.Description</p>
                    <a asp-action="Detail" asp-controller="Blog"
                    class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                        
                    </a> 
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                </div>
            </div>
        </div>


    }
</div>